/*Orange coloer: 
#e67e22;
*/

/*-----------------------------------------*/
/*Basic Setup*/
/*-----------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

/*-----------------------------------------*/
/*Reusable Components*/
/*-----------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    /*We will have top and bottom 80 maring and 0 left and right*/
    padding: 80px 0px;
}

.box {
    padding: 1px;
}
/*-----------------------------------------*/
/*Headings*/
/*-----------------------------------------*/
/*This will keep the header background image all the way up*/
h1,
h2,
h3{
    /*Makes letters thinner.*/
    font-weight: 300;
    /*Makes all text uppercase*/
    text-transform: uppercase;
}
/*Goodby junk food ..*/
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    /*Color of text Goodbye.*/
    color: #fff;
    /*Size of Goodbye text.*/
    font-size: 240%;
    /*This is space between words*/
    word-spacing: 4px;
        /*This is space between letters*/
    letter-spacing: 1px;
}

/*Get food fast ...*/
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    /*This is space between letters*/
    letter-spacing: 1px;
    
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
/*This is use to create organe line after Get Food Fast*/
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*-----------------------------------------*/
/*Paragraphs*/
/*-----------------------------------------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*-----------------------------------------*/
/*Icons*/
/*-----------------------------------------*/
/*This will be use to modify icons. We will make them orange
also we will make them bigger*/
.icon-big {
    font-size: 400%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

/*-----------------------------------------*/
/*Buttons*/
/*-----------------------------------------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    /*Type of letters we want (letter thickness)*/
    font-weight: 300;
    text-decoration: none;
    /*making the button circular*/
    border-radius: 200px;
    /*This will make changes wait x amont of seconds to appear*/
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited {

    background-color: #e67e22;
    border: 1px solid #e67e22;
    /*Changing color inside of buttons to white.*/
    color: #fff;
    /*Making right margin of button bigger. Bigger space between buttons*/
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {

    border: 1px solid #e67e22;
    /*Changing color inside of buttons to white.*/
    color: #e67e22;
}

/*This will change behavior of the colors when you get mouse close them.*/
.btn:hover,
.btn:active {
    /*For both buttos they will get darker orange*/
    background-color: #cf6d17;
}

/*This will change behavior of the colors when you get mouse close them.*/
.btn-full:hover,
.btn-full:active {
    border: 1px solid #e67e22;
}

/*This will change behavior of the colors when you get mouse close them.*/
.btn-ghost:link,
.btn-ghost:visited {

    border: 1px solid #e67e22;
    /*Text will be white even you hover over the button.*/
    color: #fff;
}

/*-----------------------------------------*/
/*Header*/
/*-----------------------------------------*/
/*We will set backgroun image of header to hero*/
header {
    /*LG is used to make the image darker (transparent). */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    /*This will use the image as a cover in the header.*/
    background-size: cover;
    background-position: center;
    /*This will let the image cover (number %)vh of the browswer.*/
    height: 100vh;

}

.hero-text-box {
    position: absolute;
    width: 1140px;
    /*50 away from the top*/
    top: 50%;
    /*50 away from the left*/
    left: 50%;
    /*This will keep textbox centered in the header.*/
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    margin-left: 55px;
}

.main-nav {
    /*Moving the list to right part of website.*/
    float: right;
    /*This gets rid of bullet points setup on ul tag in html file*/
    list-style: none;
}

.main-nav li {
    /*Before this the list was display from top to bottom now its left to right.*/
    display: inline-block;
    margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited {
    /*Changing the words to white color for all elements in list.*/
    color: #fff;
    /*This will get rid of the underline for links*/
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    /*this will create space between underline and words in list*/
    padding: 8px 0;
    /*Create invisible solid line for active and hover*/
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active {
    /*Create solid orange line when hover or active on the nav list.*/
    border-bottom: 2px solid #e67e22;
}

/*-----------------------------------------*/
/*Features*/
/*-----------------------------------------*/
.section-features .long-copy {
    /*Adding bottom margin to Helo we're omnifood block*/
    margin-bottom: 40px;
}

/*-----------------------------------------*/
/*Meals*/
/*-----------------------------------------*/
.section-meals {
    padding-top: 0;
}
.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    /*If image is bigger than container its stored do not show.*/
    overflow: hidden;
    background-color: #000;;
}

.meal-photo img {
    /*Image is dark by default*/
    opacity: 0.7;
    width: 100%;
    /*Make image bigger.*/
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    /*Make image ligher when user hovers over.*/
    opacity: 1;
    /*Make image bigger.*/
    transform: scale(1.03);
}

